
body {
    background-color: white;
}


h4{
    color: #5941E2;
}

ul{
    background-color: white;
}
.navbar{
    background-color: white;
}

.main{
    background-color: white;
}
.jumbotron{
    background-color: white;
}

.navbar-default{
    border-color: white;  
}

img{
    position: Right;
}